
.carrusel-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.carrusel__boton {
    display: none;
    border-radius: 20px;
    background-color: var(--bg-blanco);
    padding: 7px 17px;
}

.carrusel__boton:hover {
    cursor: pointer;
}

.carrusel__boton--izquierdo {
    margin-left: 24vw;
}
.carrusel__boton--derecho {
    margin-right: 24vw;
}

 .carrusel {
    width: 240px;
    height: 70px;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
} 

.carrusel::-webkit-scrollbar{
    background-color: transparent;
}

.carrusel__item {
    border: none;
    color: var(--texto-gris-mas-claro);
    font-size: 16px;
    display: inline-block;
    width: 140px; 
    height: 40px;
    scroll-snap-align: center;
    position: relative;
    padding: 10px 20px;
    background-color: var(--bg-boton-azul-transparente);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
} 

.carrusel__item:first-child {
    margin-left: 50px;
}

.carrusel__item:last-child {
    margin-right: 50px;
} 

.carrusel__item-active {
    background-color: var(--boton-slider-active);
}